.modal-content {
    border-radius: 0.25rem;
    font-size: 14px;
    background: #5e242f;
}

.swal-modal {
    border-radius: 0.25rem;
    background-color: #5e242f;
}

.card-btn {
    float: right;
    margin-right: 17px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #e0546e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5e242f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e242f;
}

/* Drop down */
.dropdown-menu {
    color: whitesmoke !important;
    background: #a13e50 !important;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #732534;
}
.dropdown-item:hover {
    padding: .70rem 1.5rem;
    background-color: #732534;
    color: #ffffff;
}.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #732534;
}

select option {
    background: #a13e50;
}

.bootstrap-select .no-results {
    padding: 3px;
    background: #732534;
    margin: 0 5px;
    white-space: nowrap;
}

@media only screen and (max-width: 1024px){
    #sidebar-wrapper {
        background: #5e242f;
    }
}
